<a href="https://colab.research.google.com/github/kailashDataScience/gold_price_data/blob/main/gold_price_data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd 
import requests as req
from bs4 import BeautifulSoup

In [ ]:
url=["https://www.livechennai.com/get_goldrate_history.asp?monthno=1&yearno=2022",
      "https://www.livechennai.com/get_goldrate_history.asp?monthno=2&yearno=2022",
      "https://www.livechennai.com/get_goldrate_history.asp?monthno=3&yearno=2022",
      "https://www.livechennai.com/get_goldrate_history.asp?monthno=4&yearno=2022",
      "https://www.livechennai.com/get_goldrate_history.asp?monthno=5&yearno=2022",
      "https://www.livechennai.com/get_goldrate_history.asp?monthno=5&yearno=2022",
      "https://www.livechennai.com/get_goldrate_history.asp?monthno=7&yearno=2022",
      "https://www.livechennai.com/get_goldrate_history.asp?monthno=8&yearno=2022",
      "https://www.livechennai.com/get_goldrate_history.asp?monthno=9&yearno=2022",
      "https://www.livechennai.com/get_goldrate_history.asp?monthno=10&yearno=2022",
       "https://www.livechennai.com/get_goldrate_history.asp?monthno=11&yearno=2022",
       "https://www.livechennai.com/get_goldrate_history.asp?monthno=12&yearno=2022"

       
]
pages=[]
for page in url:
  pages.append(req.get(page))

In [ ]:

soups=[]
for page in pages:
  soups.append(BeautifulSoup(page.text,'lxml'))

In [ ]:

tr_tags=[]
for soup in soups:
  tr_tags.append(soup.find_all('tr'))

In [ ]:

def get_monthly_data(trlist):
    month_data=[]
    for month in trlist:
      for tr in month:
        td_tag=tr.find_all('td')
        row = [i.text.strip() for i in td_tag]
        month_data.append(row)
    return month_data

In [ ]:

monthly_data = get_monthly_data(tr_tags)

In [ ]:
string='Date'
for lst in monthly_data:
  length=len(lst)
  if length < 3 or string in lst:
    monthly_data.remove(lst)
monthly_data

[['01/January/2022', '4925.00', '4559.00'],
 ['02/January/2022', '4925.00', '4559.00'],
 ['03/January/2022', '4911.00', '4545.00'],
 ['04/January/2022', '4880.00', '4514.00'],
 ['05/January/2022', '4896.00', '4530.00'],
 ['06/January/2022', '4866.00', '4500.00'],
 ['07/January/2022', '4842.00', '4476.00'],
 ['08/January/2022', '4858.00', '4492.00'],
 ['09/January/2022', '4858.00', '4492.00'],
 ['10/January/2022', '4840.00', '4474.00'],
 ['11/January/2022', '4856.00', '4490.00'],
 ['12/January/2022', '4876.00', '4510.00'],
 ['13/January/2022', '4887.00', '4521.00'],
 ['14/January/2022', '4908.00', '4542.00'],
 ['15/January/2022', '4903.00', '4537.00'],
 ['16/January/2022', '4903.00', '4537.00'],
 ['17/January/2022', '4903.00', '4537.00'],
 ['18/January/2022', '4906.00', '4540.00'],
 ['19/January/2022', '4913.00', '4547.00'],
 ['20/January/2022', '4954.00', '4588.00'],
 ['21/January/2022', '4938.00', '4572.00'],
 ['22/January/2022', '4954.00', '4588.00'],
 ['23/January/2022', '4954.00', '4588.00'],
 ['24/January/2022', '4971.00', '4605.00'],
 ['25/January/2022', '4971.00', '4605.00'],
 ['26/January/2022', '5003.00', '4637.00'],
 ['27/January/2022', '4944.00', '4578.00'],
 ['28/January/2022', '4903.00', '4537.00'],
 ['29/January/2022', '4899.00', '4533.00'],
 ['30/January/2022', '4899.00', '4533.00'],
 ['31/January/2022', '4878.00', '4512.00'],
 ['01/February/2022', '4898.00', '4532.00'],
 ['02/February/2022', '4890.00', '4524.00'],
 ['03/February/2022', '4898.00', '4532.00'],
 ['04/February/2022', '4903.00', '4537.00'],
 ['05/February/2022', '4908.00', '4542.00'],
 ['06/February/2022', '4908.00', '4542.00'],
 ['07/February/2022', '4911.00', '4545.00'],
 ['08/February/2022', '4924.00', '4558.00'],
 ['09/February/2022', '4950.00', '4584.00'],
 ['10/February/2022', '4967.00', '4601.00'],
 ['11/February/2022', '4976.00', '4610.00'],
 ['12/February/2022', '5081.00', '4715.00'],
 ['13/February/2022', '5081.00', '4715.00'],
 ['14/February/2022', '5061.00', '4695.00'],
 ['15/February/2022', '5062.00', '4696.00'],
 ['16/February/2022', '5029.00', '4663.00'],
 ['17/February/2022', '5106.00', '4740.00'],
 ['18/February/2022', '5095.00', '4729.00'],
 ['19/February/2022', '5099.00', '4733.00'],
 ['20/February/2022', '5099.00', '4733.00'],
 ['21/February/2022', '5079.00', '4713.00'],
 ['22/February/2022', '5116.00', '4750.00'],
 ['23/February/2022', '5085.00', '4719.00'],
 ['24/February/2022', '5317.00', '4951.00'],
 ['25/February/2022', '5175.00', '4809.00'],
 ['26/February/2022', '5104.00', '4738.00'],
 ['27/February/2022', '5104.00', '4738.00'],
 ['28/February/2022', '5148.00', '4782.00'],
 ['01/March/2022', '5164.00', '4798.00'],
 ['02/March/2022', '5244.00', '4878.00'],
 ['03/March/2022', '5230.00', '4864.00'],
 ['04/March/2022', '5239.00', '4873.00'],
 ['05/March/2022', '5336.00', '4970.00'],
 ['06/March/2022', '5336.00', '4970.00'],
 ['07/March/2022', '5437.00', '5071.00'],
 ['08/March/2022', '5455.00', '5056.00'],
 ['09/March/2022', '5419.00', '5020.00'],
 ['10/March/2022', '5284.00', '4885.00'],
 ['11/March/2022', '5298.00', '4899.00'],
 ['12/March/2022', '5293.00', '4894.00'],
 ['13/March/2022', '5293.00', '4894.00'],
 ['14/March/2022', '5268.00', '4869.00'],
 ['15/March/2022', '5230.00', '4831.00'],
 ['16/March/2022', '5186.00', '4787.00'],
 ['17/March/2022', '5206.00', '4807.00'],
 ['18/March/2022', '5231.00', '4832.00'],
 ['19/March/2022', '5204.00', '4805.00'],
 ['20/March/2022', '5204.00', '4805.00'],
 ['21/March/2022', '5192.00', '4793.00'],
 ['22/March/2022', '5195.00', '4796.00'],
 ['23/March/2022', '5193.00', '4794.00'],
 ['24/March/2022', '5222.00', '4823.00'],
 ['25/March/2022', '5248.00', '4849.00'],
 ['26/March/2022', '5243.00', '4844.00'],
 ['27/March/2022', '5243.00', '4844.00'],
 ['28/March/2022', '5215.00', '4816.00'],
 ['29/March/2022', '5192.00', '4793.00'],
 ['30/March/2022', '5189.00', '4790.00'],
 ['31/March/2022', '5199.00', '4800.00'],
 ['01/April/2022', '5224.00', '4825.00'],
 ['02/April/2022', '5224.00', '4825.00'],
 ['03/April/2022', '5224.00', '4825.00'],
 ['04/April/2022', '5209.00', '4810.00'],
 ['05/April/2022', '5224.00', '4825.00'],
 ['06/April/2022', '5241.00', '4842.00'],
 ['07/April/2022', '5273.00', '4874.00'],
 ['08/April/2022', '5285.00', '4886.00'],
 ['09/April/2022', '5318.00', '4919.00'],
 ['10/April/2022', '5318.00', '4919.00'],
 ['11/April/2022', '5345.00', '4946.00'],
 ['12/April/2022', '5346.00', '4947.00'],
 ['13/April/2022', '5395.00', '4996.00'],
 ['14/April/2022', '5411.00', '5012.00'],
 ['15/April/2022', '5410.00', '5011.00'],
 ['16/April/2022', '5413.00', '5014.00'],
 ['17/April/2022', '5413.00', '5014.00'],
 ['18/April/2022', '5449.00', '5050.00'],
 ['19/April/2022', '5424.00', '5025.00'],
 ['20/April/2022', '5362.00', '4963.00'],
 ['21/April/2022', '5345.00', '4946.00'],
 ['22/April/2022', '5358.00', '4959.00'],
 ['23/April/2022', '5344.00', '4945.00'],
 ['24/April/2022', '5344.00', '4945.00'],
 ['25/April/2022', '5311.00', '4912.00'],
 ['26/April/2022', '5286.00', '4887.00'],
 ['27/April/2022', '5261.00', '4862.00'],
 ['28/April/2022', '5249.00', '4850.00'],
 ['29/April/2022', '5296.00', '4897.00'],
 ['30/April/2022', '5302.00', '4903.00'],
 ['01/May/2022', '5302.00', '4903.00'],
 ['02/May/2022', '5240.00', '4841.00'],
 ['03/May/2022', '5195.00', '4796.00'],
 ['04/May/2022', '5207.00', '4808.00'],
 ['05/May/2022', '5250.00', '4851.00'],
 ['06/May/2022', '5249.00', '4850.00'],
 ['07/May/2022', '5276.00', '4877.00'],
 ['08/May/2022', '5276.00', '4877.00'],
 ['09/May/2022', '5258.00', '4859.00'],
 ['10/May/2022', '5245.00', '4846.00'],
 ['11/May/2022', '5204.00', '4805.00'],
 ['12/May/2022', '5222.00', '4823.00'],
 ['13/May/2022', '5154.00', '4755.00'],
 ['14/May/2022', '5136.00', '4737.00'],
 ['15/May/2022', '5136.00', '4737.00'],
 ['16/May/2022', '5127.00', '4728.00'],
 ['17/May/2022', '5163.00', '4764.00'],
 ['18/May/2022', '5138.00', '4739.00'],
 ['19/May/2022', '5154.00', '4755.00'],
 ['20/May/2022', '5192.00', '4793.00'],
 ['21/May/2022', '5216.00', '4817.00'],
 ['22/May/2022', '5216.00', '4817.00'],
 ['23/May/2022', '5236.00', '4837.00'],
 ['24/May/2022', '5234.00', '4835.00'],
 ['25/May/2022', '5204.00', '4805.00'],
 ['26/May/2022', '5164.00', '4765.00'],
 ['27/May/2022', '5174.00', '4775.00'],
 ['28/May/2022', '5174.00', '4775.00'],
 ['29/May/2022', '5174.00', '4775.00'],
 ['30/May/2022', '5184.00', '4785.00'],
 ['31/May/2022', '5174.00', '4775.00'],
 ['01/May/2022', '5302.00', '4903.00'],
 ['02/May/2022', '5240.00', '4841.00'],
 ['03/May/2022', '5195.00', '4796.00'],
 ['04/May/2022', '5207.00', '4808.00'],
 ['05/May/2022', '5250.00', '4851.00'],
 ['06/May/2022', '5249.00', '4850.00'],
 ['07/May/2022', '5276.00', '4877.00'],
 ['08/May/2022', '5276.00', '4877.00'],
 ['09/May/2022', '5258.00', '4859.00'],
 ['10/May/2022', '5245.00', '4846.00'],
 ['11/May/2022', '5204.00', '4805.00'],
 ['12/May/2022', '5222.00', '4823.00'],
 ['13/May/2022', '5154.00', '4755.00'],
 ['14/May/2022', '5136.00', '4737.00'],
 ['15/May/2022', '5136.00', '4737.00'],
 ['16/May/2022', '5127.00', '4728.00'],
 ['17/May/2022', '5163.00', '4764.00'],
 ['18/May/2022', '5138.00', '4739.00'],
 ['19/May/2022', '5154.00', '4755.00'],
 ['20/May/2022', '5192.00', '4793.00'],
 ['21/May/2022', '5216.00', '4817.00'],
 ['22/May/2022', '5216.00', '4817.00'],
 ['23/May/2022', '5236.00', '4837.00'],
 ['24/May/2022', '5234.00', '4835.00'],
 ['25/May/2022', '5204.00', '4805.00'],
 ['26/May/2022', '5164.00', '4765.00'],
 ['27/May/2022', '5174.00', '4775.00'],
 ['28/May/2022', '5174.00', '4775.00'],
 ['29/May/2022', '5174.00', '4775.00'],
 ['30/May/2022', '5184.00', '4785.00'],
 ['31/May/2022', '5174.00', '4775.00'],
 ['01/July/2022', '5184.00', '4785.00'],
 ['02/July/2022', '5191.00', '4792.00'],
 ['03/July/2022', '5191.00', '4792.00'],
 ['04/July/2022', '5197.00', '4798.00'],
 ['05/July/2022', '5207.00', '4805.00'],
 ['06/July/2022', '5142.00', '4740.00'],
 ['07/July/2022', '5074.00', '4672.00'],
 ['08/July/2022', '5078.00', '4676.00'],
 ['09/July/2022', '5091.00', '4689.00'],
 ['10/July/2022', '5091.00', '4689.00'],
 ['11/July/2022', '5082.00', '4680.00'],
 ['12/July/2022', '5072.00', '4670.00'],
 ['13/July/2022', '5062.00', '4660.00'],
 ['14/July/2022', '5078.00', '4676.00'],
 ['15/July/2022', '5038.00', '4636.00'],
 ['16/July/2022', '5029.00', '4627.00'],
 ['17/July/2022', '5029.00', '4627.00'],
 ['18/July/2022', '5090.00', '4688.00'],
 ['19/July/2022', '5060.00', '4658.00'],
 ['20/July/2022', '5069.00', '4667.00'],
 ['21/July/2022', '5032.00', '4630.00'],
 ['22/July/2022', '5082.00', '4680.00'],
 ['23/July/2022', '5098.00', '4696.00'],
 ['24/July/2022', '5098.00', '4696.00'],
 ['25/July/2022', '5122.00', '4720.00'],
 ['26/July/2022', '5130.00', '4728.00'],
 ['27/July/2022', '5137.00', '4735.00'],
 ['28/July/2022', '5169.00', '4767.00'],
 ['29/July/2022', '5207.00', '4805.00'],
 ['30/July/2022', '5217.00', '4815.00'],
 ['31/July/2022', '5217.00', '4815.00'],
 ['01/August/2022', '5197.00', '4795.00'],
 ['02/August/2022', '5222.00', '4820.00'],
 ['03/August/2022', '5204.00', '4802.00'],
 ['04/August/2022', '5267.00', '4865.00'],
 ['05/August/2022', '5267.00', '4865.00'],
 ['06/August/2022', '5247.00', '4845.00'],
 ['07/August/2022', '5247.00', '4845.00'],
 ['08/August/2022', '5252.00', '4850.00'],
 ['09/August/2022', '5302.00', '4900.00'],
 ['10/August/2022', '5295.00', '4893.00'],
 ['11/August/2022', '5287.00', '4885.00'],
 ['12/August/2022', '5292.00', '4890.00'],
 ['13/August/2022', '5316.00', '4914.00'],
 ['14/August/2022', '5316.00', '4914.00'],
 ['15/August/2022', '5316.00', '4914.00'],
 ['16/August/2022', '5257.00', '4855.00'],
 ['17/August/2022', '5251.00', '4849.00'],
 ['18/August/2022', '5252.00', '4850.00'],
 ['19/August/2022', '5224.00', '4822.00'],
 ['20/August/2022', '5232.00', '4830.00'],
 ['21/August/2022', '5232.00', '4830.00'],
 ['22/August/2022', '5217.00', '4815.00'],
 ['23/August/2022', '5202.00', '4800.00'],
 ['24/August/2022', '5207.00', '4805.00'],
 ['25/August/2022', '5252.00', '4850.00'],
 ['26/August/2022', '5222.00', '4820.00'],
 ['27/August/2022', '5207.00', '4805.00'],
 ['28/August/2022', '5207.00', '4805.00'],
 ['29/August/2022', '5167.00', '4765.00'],
 ['30/August/2022', '5192.00', '4790.00'],
 ['31/August/2022', '5156.00', '4754.00'],
 ['01/September/2022', '5112.00', '4710.00'],
 ['02/September/2022', '5117.00', '4715.00'],
 ['03/September/2022', '5124.00', '4722.00'],
 ['04/September/2022', '5124.00', '4722.00'],
 ['05/September/2022', '5138.00', '4736.00'],
 ['06/September/2022', '5152.00', '4750.00'],
 ['07/September/2022', '5127.00', '4725.00'],
 ['08/September/2022', '5132.00', '4730.00'],
 ['09/September/2022', '5170.00', '4768.00'],
 ['10/September/2022', '5142.00', '4740.00'],
 ['11/September/2022', '5142.00', '4740.00'],
 ['12/September/2022', '5147.00', '4745.00'],
 ['13/September/2022', '5127.00', '4725.00'],
 ['14/September/2022', '5103.00', '4701.00'],
 ['15/September/2022', '5082.00', '4680.00'],
 ['16/September/2022', '5028.00', '4626.00'],
 ['17/September/2022', '5042.00', '4640.00'],
 ['18/September/2022', '5042.00', '4640.00'],
 ['19/September/2022', '5034.00', '4632.00'],
 ['20/September/2022', '5032.00', '4630.00'],
 ['21/September/2022', '5052.00', '4650.00'],
 ['22/September/2022', '5077.00', '4675.00'],
 ['23/September/2022', '5072.00', '4670.00'],
 ['24/September/2022', '5052.00', '4650.00'],
 ['25/September/2022', '5052.00', '4650.00'],
 ['26/September/2022', '5053.00', '4651.00'],
 ['27/September/2022', '5012.00', '4610.00'],
 ['28/September/2022', '5027.00', '4625.00'],
 ['29/September/2022', '5082.00', '4680.00'],
 ['30/September/2022', '5099.00', '4697.00'],
 ['01/October/2022', '5092.00', '4690.00'],
 ['02/October/2022', '5092.00', '4690.00'],
 ['03/October/2022', '5107.00', '4705.00'],
 ['04/October/2022', '5177.00', '4775.00'],
 ['05/October/2022', '5237.00', '4835.00'],
 ['06/October/2022', '5242.00', '4840.00'],
 ['07/October/2022', '5237.00', '4835.00'],
 ['08/October/2022', '5242.00', '4840.00'],
 ['09/October/2022', '5242.00', '4840.00'],
 ['10/October/2022', '5177.00', '4775.00'],
 ['11/October/2022', '5142.00', '4740.00'],
 ['12/October/2022', '5132.00', '4730.00'],
 ['13/October/2022', '5162.00', '4760.00'],
 ['14/October/2022', '5137.00', '4735.00'],
 ['15/October/2022', '5092.00', '4690.00'],
 ['16/October/2022', '5092.00', '4690.00'],
 ['17/October/2022', '5102.00', '4700.00'],
 ['18/October/2022', '5107.00', '4705.00'],
 ['19/October/2022', '5102.00', '4700.00'],
 ['20/October/2022', '5087.00', '4685.00'],
 ['21/October/2022', '5067.00', '4665.00'],
 ['22/October/2022', '5142.00', '4740.00'],
 ['23/October/2022', '5142.00', '4740.00'],
 ['24/October/2022', '5142.00', '4740.00'],
 ['25/October/2022', '5142.00', '4740.00'],
 ['26/October/2022', '5167.00', '4765.00'],
 ['27/October/2022', '5147.00', '4745.00'],
 ['28/October/2022', '5137.00', '4735.00'],
 ['29/October/2022', '5107.00', '4705.00'],
 ['30/October/2022', '5107.00', '4705.00'],
 ['31/October/2022', '5117.00', '4715.00'],
 ['01/November/2022', '5132.00', '4730.00'],
 ['02/November/2022', '5143.00', '4741.00'],
 ['03/November/2022', '5117.00', '4715.00'],
 ['04/November/2022', '5119.00', '4717.00'],
 ['05/November/2022', '5172.00', '4770.00'],
 ['06/November/2022', '5172.00', '4770.00'],
 ['07/November/2022', '5177.00', '4775.00'],
 ['08/November/2022', '5160.00', '4758.00'],
 ['09/November/2022', '5217.00', '4815.00'],
 ['10/November/2022', '5222.00', '4820.00'],
 ['11/November/2022', '5307.00', '4905.00'],
 ['12/November/2022', '5294.00', '4892.00'],
 ['13/November/2022', '5294.00', '4892.00'],
 ['14/November/2022', '5303.00', '4901.00'],
 ['15/November/2022', '5342.00', '4940.00'],
 ['16/November/2022', '5372.00', '4970.00'],
 ['17/November/2022', '5352.00', '4950.00'],
 ['18/November/2022', '5353.00', '4951.00'],
 ['19/November/2022', '5327.00', '4925.00'],
 ['20/November/2022', '5327.00', '4925.00'],
 ['21/November/2022', '5322.00', '4920.00'],
 ['22/November/2022', '5307.00', '4905.00'],
 ['23/November/2022', '5298.00', '4896.00'],
 ['24/November/2022', '5333.00', '4931.00'],
 ['25/November/2022', '5337.00', '4935.00'],
 ['26/November/2022', '5327.00', '4925.00'],
 ['27/November/2022', '5327.00', '4925.00'],
 ['28/November/2022', '5349.00', '4947.00'],
 ['29/November/2022', '5318.00', '4916.00'],
 ['30/November/2022', '5338.00', '4936.00'],
 ['01/December/2022', '5357.00', '4955.00'],
 ['02/December/2022', '5422.00', '5020.00'],
 ['03/December/2022', '5418.00', '5016.00'],
 ['04/December/2022', '5418.00', '5016.00'],
 ['05/December/2022', '5447.00', '5045.00'],
 ['06/December/2022', '5412.00', '5010.00'],
 ['07/December/2022', '5418.00', '5016.00'],
 ['08/December/2022', '5425.00', '5023.00'],
 ['09/December/2022', '5449.00', '5047.00'],
 ['10/December/2022', '5457.00', '5055.00'],
 ['11/December/2022', '5457.00', '5055.00'],
 ['12/December/2022', '5447.00', '5045.00'],
 ['13/December/2022', '5442.00', '5040.00'],
 ['14/December/2022', '5502.00', '5100.00'],
 ['15/December/2022', '5462.00', '5060.00'],
 ['16/December/2022', '5447.00', '5045.00'],
 ['17/December/2022', '5458.00', '5056.00'],
 ['18/December/2022', '5458.00', '5056.00'],
 ['19/December/2022', '5472.00', '5070.00'],
 ['20/December/2022', '5467.00', '5065.00'],
 ['21/December/2022', '5517.00', '5115.00'],
 ['22/December/2022', '5526.00', '5124.00'],
 ['23/December/2022', '5468.00', '5066.00'],
 ['24/December/2022', '5478.00', '5076.00'],
 ['25/December/2022', '5478.00', '5076.00'],
 ['26/December/2022', '5488.00', '5086.00'],
 ['27/December/2022', '5488.00', '5086.00'],
 ['28/December/2022', '5507.00', '5105.00'],
 ['29/December/2022', '5497.00', '5095.00'],
 ['30/December/2022', '5517.00', '5115.00'],
 ['31/December/2022', '5532.00', '5130.00']]

In [ ]:
def process(data):
  return [lst[0] for lst in data],[lst[1] for lst in data],[lst[2] for lst in data]

In [ ]:
date,gold_24k,gold_22k=process(monthly_data)

In [ ]:
gold_data_dict={
      "DATE":date,
    "GOLD_24k_PRICE":gold_24k,
    "GOLD_22k_PRICE":gold_22k
  }

In [ ]:
df =pd.DataFrame(gold_data_dict)

In [ ]:
df

                 DATE GOLD_24k_PRICE GOLD_22k_PRICE
0     01/January/2022        4925.00        4559.00
1     02/January/2022        4925.00        4559.00
2     03/January/2022        4911.00        4545.00
3     04/January/2022        4880.00        4514.00
4     05/January/2022        4896.00        4530.00
..                ...            ...            ...
361  27/December/2022        5488.00        5086.00
362  28/December/2022        5507.00        5105.00
363  29/December/2022        5497.00        5095.00
364  30/December/2022        5517.00        5115.00
365  31/December/2022        5532.00        5130.00

[366 rows x 3 columns]

In [ ]:

df.to_csv('gold_price_data_2022.csv')

In [ ]:
data=pd.read_csv('/content/gold_price_data_2022.csv')

In [ ]:

data

     Unnamed: 0              DATE  GOLD_24k_PRICE  GOLD_22k_PRICE
0             0   01/January/2022          4925.0          4559.0
1             1   02/January/2022          4925.0          4559.0
2             2   03/January/2022          4911.0          4545.0
3             3   04/January/2022          4880.0          4514.0
4             4   05/January/2022          4896.0          4530.0
..          ...               ...             ...             ...
361         361  27/December/2022          5488.0          5086.0
362         362  28/December/2022          5507.0          5105.0
363         363  29/December/2022          5497.0          5095.0
364         364  30/December/2022          5517.0          5115.0
365         365  31/December/2022          5532.0          5130.0

[366 rows x 4 columns]

In [ ]:
data.drop(columns=['Unnamed: 0'])